<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../ejsfiles_temp/head'); %>
</head>
<body class="container">

<header>
    <div class="jumbotron">
    
        <%= firstName %> <%= lastName %>
    
    </div>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
    <div style="border-bottom: 2px solid #000; ">
        <p
            style="text-align: center;font-size: 24px;border-bottom: 1px solid #000;margin: 0;margin-bottom: 3px;padding: 25px 0;">
            <%= firstName %> <%= lastName %>
        </p>
    </div>
</main>
</body>
</html>