<!DOCTYPE html>
<html>

<head>
    <title>
        1st
    </title>
    <link rel="stylesheet" type="text/css" href="http://165.227.248.244:3001/poppins.css">
    <link rel="stylesheet" type="text/css" href="http://165.227.248.244:3001/1.css">
</head>
<link rel="stylesheet" type="text/css" href="http://165.227.248.244:3001/all.css">
</head>

<body>
    <div class="container">
        <div style="border:3px solid #000;">
            <div class="top_main">
                <div class="top_sub">
                    <div class="name">
                        <%= firstName %> <%= lastName %>
                    </div>
                    <div class="post">
                        <!-- BUSINESS ANALYSt -->
                    </div>
                </div>
            </div>
        </div>
        <table class="main_table_th" style="width: 100%; border-spacing: 0; ">
            <tr>
                <th class="left" style="border-top: 0;">
                    <div class="l_1">

                        <div class="details_main">
                            <div class="hdng_1">Personal Details</div>
                            <div class="dsgn"></div>
                            <div class="details_main">

                                <div class="details">
                                    <i class="icon fas fa-birthday-cake"></i> <%= birthDate %>
                                </div>
                                <div class="details">
                                    <i class="icon fas fa-phone-alt"></i><% if (phoneNo && phoneNo.length>0) { %>
                                    <%= phoneNo %><br />
                                    <%}%>
							</div>
							<div class="details">
								<i class="icon fas fa-envelope"></i> <% if (email && email.length>0) { %>
                                    <%= email %><br />
                                    <%}%>
							</div>
							<div class="details">
                                <i class="icon fas fa-map-marker-alt"></i>
                                <% if (address && address.length>0) { %>
                                    <%= address %><br />
                                    <%}%>
							</div>
						</div>	
						</div>	
					</div>
					<!-- <div class="l_1">
						<div class="hdng_1">EXECUTIVE SUMMARY</div>
						<div class="dsgn"></div>
						<div class="details_main">
							<div class="details list_left">
								7+ years of solid, diverse business analysis experience with demonstrated ability in improving business value through change initiatives from concept to completion.</li>
								</ul>
							</div>
						</div>	
                    </div> -->
                    <% if (skills && skills.length>0) { %>
                                    <div class="l_1">
                                        <div class="hdng_1">Technical skills: </div>
                                        <div class="dsgn"></div>
                                        <div class="details_main">
                                            <div class="details">
                                                <ul class="list_left">
                                                    <% for(var i=0; i < skills.length; i++) { %>
                                                    <li><%=skills[i]%></li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                    <% if (certifications && certifications.length>0) { %>
                                    <div class="l_1">
                                        <div class="hdng_1">Certification</div>
                                        <div class="dsgn"></div>
                                        <div class="details_main">
                                            <div class="details">
                                                <ol class="list_left">
                                                    <% for(var i=0; i < certifications.length; i++) { %>
                                                    <li><%=certifications[i]%></li>
                                                    <% } %>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                    <% if (affiliations && affiliations.length>0) { %>
                                    <div class="l_1">
                                        <div class="hdng_1">Affiliations</div>
                                        <div class="dsgn"></div>
                                        <div class="details_main">
                                            <div class="details">
                                                <ul class="list_left">
                                                    <% for(var i=0; i < affiliations.length; i++) { %>
                                                    <li><%=affiliations[i]%></li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                    <% if (refrences && refrences.length>0) { %>
                                    <div class="l_1">
                                        <div class="hdng_1">References: </div>
                                        <div class="dsgn"></div>
                                        <div class="details_main">
                                            <div class="details">
                                                <ol class="summry list_left">
                                                    <% for(var i=0; i < refrences.length; i++) { %>
                                                    <% if (refrences[i] && refrences[i].name) { %>
                                                    <li>
                                                        <%=refrences[i].name%> ,
                                                        <% if (refrences[i] && refrences[i].position) { %>
                                                        <%=refrences[i].position%> ,
                                                        <% } %>

                                                        <% if (refrences[i] && refrences[i].email) { %>
                                                        <%=refrences[i].email%> ,
                                                        <% } %>

                                                        <% if (refrences[i] && refrences[i].phone) { %>
                                                        <%=refrences[i].phone%>
                                                        <% } %>

                                                    </li>

                                                    <% } %>
                                                    <% } %>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                    <% if (education && education.length>0) { %>
                                    <div class="l_1">
                                        <div class="hdng_1">EDUCATION: </div>
                                        <div class="dsgn"></div>
                                        <div class="details_main">
                                            <div class="details">
                                                <ol class="summry list_left">
                                                    <% for(var i=0; i < education.length; i++) { %>

                                                    <li> <%= education[i].degree %>,<%=education[i].fieldOfStudy%>,<%=education[i].schoolLocation%>
                                                    </li>
                                                    <%}%>
                                </ol>
							</div>
						</div>	
                    </div>
                    <%}%>
                                                    <% if (accomplishments && accomplishments.length>0) { %>
                                                    <div class="l_1 last">
                                                        <div class="hdng_1">accomplishment</div>
                                                        <div class="dsgn"></div>
                                                        <div class="details_main">
                                                            <div class="details">
                                                                <ul class="list_left">
                                                                    <% for(var i=0; i < accomplishments.length; i++) { %>
                                                                    <li><%=accomplishments[i]%></li>
                                                                    <%}%>
                                        
                                </ul>
							</div>
						</div>		
                    </div>
                    <%}%>

                </th>
                <th class="right" style="border-top: 0; border-left: 0;">
                    <div class="r_1">
                        <div class="hdng_1">EXECUTIVE SUMMARY</div>
                        <div class="dsgn"></div>
                        <div class="details_main">
                            <div class="details list_left">
                                <%=professionalSummary%></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% if (summary && summary.length>0) { %>
                    <div class="r_1">
                        <div class="hdng_1">PROFESSIONAL SUMMARY</div>
                        <div class="dsgn"></div>
                        <div class="details_main">
                            <div class="details">
                                <ul class="summry">
                                    <% for(var i=0; i < summary.length; i++) { %>
                                        <li><%=summary[i]%></li>
                                        <%}%>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    <% if (workHistory && workHistory.length>0) { %>
                        <div class="r_1 last">

                            <div class="hdng_1">PROFESSIONAL EXPERIENCE:</div></div>
                        <% for(var i=0; i < workHistory.length; i++) { %>
                    <div class="r_1 last">

                        <div class="compny_dtls ">
                            <div class="cmpny_dtls_sub"><%=workHistory[i].employer%></div>
                            <div class="cmpny_dtls_sub"><%=workHistory[i].country%></div>
                            <div class="cmpny_dtls_sub">
                                <%= new Date(workHistory[i].startDate).getMonth() + 1 +'/'+new Date(workHistory[i].startDate).getFullYear() %>
                                                    to
                                                    <% if (workHistory[i].currentlyWorkHere) { %>
                                                    <span>Currant </span>
                                                    <% } %>
                                                    <% if (!workHistory[i].currentlyWorkHere) { %>
                                                    <span><%= new Date(workHistory[i].endDate).getMonth() + 1 +'/'+new Date(workHistory[i].endDate).getFullYear() %></span>
                                                    <% } %>
                            </div>

                        </div>
                        <div class="cmpny_dtls_sub"><%=workHistory[i].jobTitle%></div>
                    </div>
                    <% if (workHistory[i] && workHistory[i].responsibility.length>0) { %>
                    <div class="r_1 last">
                        <div class="hdng2">Responsibilities:</div>
                        <div class="details_main">
                            <div class="details">
                                <ul class="summry">
                                    
                                    <% for(var j=0; j < workHistory[i].responsibility.length; j++) { %>
                                    <li><%= workHistory[i].responsibility[j] %> </li>
                                        <%}%>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <%}%>
                    <% if (workHistory[i] && workHistory[i].environment.length>0 && workHistory[i].environment[0] && workHistory[i].environment[0].trim()) { %>
                        <div class="r_1 last">

                        <div class="hdng2">Environment:</div>
                        <div class="details_main">
                            <div class="details">
                                <ul class="summry">
                                    
                                    <% for(var j=0; j < workHistory[i].environment.length; j++) { %>
                                    <li><%= workHistory[i].environment[j] %> </li>
                                        <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    <%}%>
                    <%}%>
    </div>

    <!-- <div class="r_1 last">
        <div class="hdng_1">Other </div>
        <div class="dsgn"></div>
        <div class="details_main">
            <div class="details">
                <ol class="summry">
                    <li>Linda Martinez ,Director of Sales, martinez@abccompany.com +91 95589 58958</li>
                    <li>Joseph Smith Professor, McCollough School of Business State University 2000 Speedway Austin, TX
                        78712 512-555-1234 joseph.z.smith@email.com</li>
                </ol>
            </div>
        </div>
    </div> -->
    </th>
    </tr>
    </table>
    </div>
</body>

</html>