<div id="hd" style="margin: 2.5em 0 3em 0; padding-bottom: 1.5em">
  <div class="yui-gc">
    <div class="yui-u first">
      <h1
        style="
          text-align: center;
          color: crimson;
          font-size: 40px;
          text-transform: uppercase;
          letter-spacing: 3px;
        "
      >
        <%= firstName %> <%= lastName %>
      </h1>
    </div>
    <div class="yui-u">
      <div class="contact-info" style="margin-top: 7px">
        <h3 style="font-size: 122%; color: #333"><%= address %></h3>
        <h3 style="font-size: 122%; color: #333">
          <a style="color: #990003"><%=email %></a><br />
        </h3>
        <h3 style="font-size: 122%; color: #333">
          <a style="color: #990003"><%=phoneNo %></a>
        </h3>
        <% if (links && links.length>0) { %> <% for(var i=0; i < links.length;
        i++) { %>
        <a style="color: #990003"><%= links[i] %></a>
        <% } %> <% } %>
      </div>
    </div>
  </div>
</div>
