<% if (workHistory && workHistory.length>0) { %>
<div
  class="yui-gf"
  style="margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc"
>
  <div class="yui-u first">
    <h2 style="font-size: 152%; color: #333">Experience</h2>
  </div>
  <div class="yui-u">
    <% for( let i = 0; i < workHistory.length; i++ ) { %>

    <div
      class="job"
      style="position: relative; margin-bottom: 1em; padding-bottom: 1em"
    >
      <h2 style="font-size: 152%; color: #333">
        <%=workHistory[i].employer%>,<%=workHistory[i].city%>,<%=workHistory[i].state%>
      </h2>
      <h4
        style="
          font-size: 122%;
          position: absolute;
          top: 0.35em;
          right: 0;
          color: #333;
        "
      >
        <%= workHistory[i].startDate %> &raquo; <%= workHistory[i].endDate %>
      </h4>
      <% if (workHistory[i].environment && workHistory[i].environment.length>0)
      { %>
      <ul>
        <% for( let j = 0; j < workHistory[i].environment.length; j++ ) { %>
        <li style="line-height: 24px; color: #333">
          <%= workHistory[i].environment[j] %>
        </li>
        <% } %>
      </ul>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
<% } %>
