<% if (education && education.length>0) { %>
<div
  class="section"
  style="
    border-top: 1px solid #ccc;
    padding: 1em;
    padding-top: 3em;
    padding-bottom: 1em;
    padding-bottom: 0px;
    width: 850px;
  "
>
  <h2
    style="
      float: left;
      font-size: 20px;

      font-variant: small-caps;
      letter-spacing: 0.06em;
    "
  >
    Education Details
  </h2>

  <div class="content" style="width: 32em; margin: 0 0 0 16em">
    <% for( let i = 0; i < education.length; i++ ) { %>

    <span
      class="date"
      style="
        float: right;
        font-size: 0.8em;
        margin-top: 0.4em;
        text-align: right;
      "
      ><%= education[i].graduationYear %>
    </span>
    <h3 style="margin-bottom: 0; line-height: 24px">
      <%= education[i].fieldOfStudy %> <%=education[i].degree%>
    </h3>
    <address
      style="
        font-style: italic;
        color: #333;
        line-height: 24px;
        font-size: 0.9em;
      "
    >
      <%=education[i].schoolName%>,<%=education[i].schoolLocation%>,<%=education[i].state%>
    </address>
    <% } %>
  </div>
  <% } %>
</div>
